<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>프로젝트 관리</title>
     <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
     <div class="container">
          <!-- Content-Header (프로젝트) -->
          <div class="row">
               <div>
                    <h3>| 프로젝트 관리</h3>
               </div>
               <div class="ml-auto" style="align-self: flex-end;">
                    <span>신규 1건</span>
                    <span>| 임박 1건</span>
                    <span>| 진행 10건</span>
               </div>
          </div>
          <hr>

          <div class="d-flex">
               <!-- 필터 -->
               <div>
                    <div class="btn-group">
                         <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">상태(전체)</button>
                         <div class="dropdown-menu" style="min-width: auto;">
                              <a class="dropdown-item active" href="#">전체</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">진행</a>
                              <a class="dropdown-item" href="#">종료</a>
                              <a class="dropdown-item" href="#">예정</a>
                         </div>
                    </div>
                    <div class="btn-group">
                         <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">분류(전체)</button>
                         <div class="dropdown-menu" style="min-width: auto;">
                              <a class="dropdown-item active" href="#">전체</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">기부</a>
                              <a class="dropdown-item" href="#">펀딩</a>
                         </div>
                    </div>
               </div>

               <!-- 등록 -->
               <div class="ml-auto" style="align-self: center;">
                    <button type="button">등록</button>
               </div>
          </div>
          <br>

          <!-- Content -->
          <div>
               <table class="table" style="width: 100%; table-layout: fixed;">
                    <c:forEach items="${adProList}" var="apList">
                         <tr>
                              <th rowspan="3"
                                   style="background-image: url(http://placehold.it/1240x930);background-size: 100% 100%;">
                              </th>
                              <th colspan="2">{proNo}. {프로젝트 명}</th>
                              <th style="text-align: right;">{상태}</th>
                              <th style="text-align: right;">
                                   <button>수정</button>
                              </th>
                         </tr>
                         <tr>
                              <td>조회수</td>
                              <td>참여인원</td>
                              <td colspan="2" style="text-align: center;">현재금액 / 목표금액</td>
                         </tr>
                         <tr>
                              <td colspan="2">{시작일} ~ {종료일} </td>
                              <td colspan="2">
                                   <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                   </div>
                              </td>
                         </tr>
                         <tr>
                              <td colspan="5"></td>
                         </tr>

                         <tr>
                              <th rowspan="3"
                                   style="background-image: url(http://placehold.it/1240x930);background-size: 100% 100%;">
                              </th>
                              <th colspan="2">{proNo}. {프로젝트 명}</th>
                              <th style="text-align: right;">{상태}</th>
                              <th style="text-align: right;">
                                   <button>수정</button>
                              </th>
                         </tr>
                         <tr>
                              <td>조회수</td>
                              <td>참여인원</td>
                              <td colspan="2" style="text-align: center;">현재금액 / 목표금액</td>
                         </tr>
                         <tr>
                              <td colspan="2">{시작일} ~ {종료일} </td>
                              <td colspan="2">
                                   <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                   </div>
                              </td>
                         </tr>
                         <tr>
                              <td colspan="5"></td>
                         </tr>

                    </c:forEach>
               </table>
          </div>
          <br>

          <!-- Pagination -->
          <div class="pagination" style="justify-content: center;">
               <span class="page-item"><a href="#" class="page-link">&laquo;</a></span>
               <span class="page-item"><a href="#" class="page-link">&lt;</a></span>
               <span class="page-item"><a href="#" class="page-link">1</a></span>
               <span class="page-item"><a href="#" class="page-link">2</a></span>
               <span class="page-item"><a href="#" class="page-link">3</a></span>
               <span class="page-item"><a href="#" class="page-link">4</a></span>
               <span class="page-item"><a href="#" class="page-link">5</a></span>
               <span class="page-item"><a href="#" class="page-link">&gt;</a></span>
               <span class="page-item"><a href="#" class="page-link">&raquo;</a></span>
          </div>
     </div>
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.bundle.min.js"></script>
     <script src="js/custom.js"></script>
</body>

</html>