<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoFun Project</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        *{
            border: red solid 1px;
        }
        #ecoFunLogo{
            /* width: 30%; */
            height: 100%;
            background-image:url('http://placehold.it/80x80'); 
            background-size : cover; 
            width: 100%; 
            background-repeat: no-repeat; 
            float:left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 >|  EcoFun Project를 소개합니다</h3>
        <hr style="margin-bottom: 5%;">
        <div class="col-lg-12 col-sm-12" style="text-align: center; font-size: larger;">
            <strong>"친환경 실천 프로젝트 지원" </strong>
        </div>
        
        <div class="col-lg-12 col-sm-12">
        <div class="col-lg-6 col-sm-6" id="ecoFunLogo" style="background-position: center; width: 50%; height: 300px;"></div>
        <div class="col-lg-6 col-sm-6">
            <div>
                "EcoFun Project란?"
            </div>
            <div>
                친환경을 직접 실천할 수 있는 펀딩 사이트로 환경을 주제로 제품을 만들어 판매하는 벤처기업을 지원하고 지원이 필요한 이슈가 생길 때 기부프로젝트를 오픈하여 지원할 수 있는 창구로 활용
            </div>
        </div>
        </div>
      

        <div style="clear:both;"></div>
        <div class="col-lg-12 col-sm-12"  style="margin-top: 5%;">
            <div>우리 프로젝트들은?</div>
            <div>
                환경벤처기업의 제품을 후원(구매)하는 ‘펀딩’과 환경주제에 대한 기부를 할 수 있는 ‘기부’ 두가지로 운영(기부는 환경재단과 함께합니다.)
            </div>

            <input type="button" src="#" value="진행중인 프로젝트 바로가기">
        </div>
  
 </div>

</body>
</html>