<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/custom.min.css">
   
    
</head>
<body>
    <div class="container">
        <div>
            <h3>비밀번호 찾기</h3>
            <hr>
        </div>
        <br>

        <div>
            <div class="row">
                <div class="col-md-10 col-sm-10" style="margin: 30px auto; text-align: center;">
                    회원가입 시 입력한 이름과 이메일주소를 적어주세요
                </div>
            </div>
            <form action="">
                <div class="row" style="padding: 10px;">
                    <input type="text" class=" form-control col-md-6 col-sm-9" placeholder="이름"
                        style="height: 50px; margin: 0 auto; border: lightgray solid 1px;" required></div>
                <div class="row" style="padding: 10px;">
                    <input type="text" class="form-control col-md-6 col-sm-9" placeholder="이메일 주소"
                        style="height: 50px; margin: 0 auto; border: lightgray solid 1px;" required>
                </div>
                <div class="row" style="padding: 10px;">
                    <input type="submit" value="확인" class="col-md-6 col-sm-9"
                        style="height: 50px; margin: 0 auto; border: lightgray solid 1px; background-color: lightgray;">
                </div>
            </form>
        </div>
    </div>

    
</body>

</html>