
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Litera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.min.css">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23019901-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23019901-1');
    </script> 
  </head>
  <body style="padding-top: 59px;">
    <!-- 탑 네비게이션영역 시작 -->
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="../" class="navbar-brand">EcoFun Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="../default/">Default</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../cerulean/">Cerulean</a>
                <a class="dropdown-item" href="../cosmo/">Cosmo</a>
                <a class="dropdown-item" href="../cyborg/">Cyborg</a>
                <a class="dropdown-item" href="../darkly/">Darkly</a>
                <a class="dropdown-item" href="../flatly/">Flatly</a>
                <a class="dropdown-item" href="../journal/">Journal</a>
                <a class="dropdown-item" href="../litera/">Litera</a>
                <a class="dropdown-item" href="../lumen/">Lumen</a>
                <a class="dropdown-item" href="../lux/">Lux</a>
                <a class="dropdown-item" href="../materia/">Materia</a>
                <a class="dropdown-item" href="../minty/">Minty</a>
                <a class="dropdown-item" href="../pulse/">Pulse</a>
                <a class="dropdown-item" href="../sandstone/">Sandstone</a>
                <a class="dropdown-item" href="../simplex/">Simplex</a>
                <a class="dropdown-item" href="../sketchy/">Sketchy</a>
                <a class="dropdown-item" href="../slate/">Slate</a>
                <a class="dropdown-item" href="../solar/">Solar</a>
                <a class="dropdown-item" href="../spacelab/">Spacelab</a>
                <a class="dropdown-item" href="../superhero/">Superhero</a>
                <a class="dropdown-item" href="../united/">United</a>
                <a class="dropdown-item" href="../yeti/">Yeti</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../help/">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.bootswatch.com/">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Litera <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" rel="noopener" target="_blank" href="https://jsfiddle.net/bootswatch/rnjfzjjo/">Open in JSFiddle</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="css/bootstrap.min.css" download>bootstrap.min.css</a>
                <a class="dropdown-item" href="css/bootstrap.css" download>bootstrap.css</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="css/_variables.scss" download>_variables.scss</a>
                <a class="dropdown-item" href="css/_bootswatch.scss" download>_bootswatch.scss</a>
              </div>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            
            <a class="nav-link" href="https://blog.bootswatch.com/">로그인</a>&nbsp;
            <a class="nav-link" href="https://blog.bootswatch.com/">회원가입</a>&nbsp; 
            <a class="nav-link" href="https://blog.bootswatch.com/">비밀번호 찾기</a>
          </ul>
        </div>
        
      </div>
    </div>
	<!-- 탑 네비게이션영역 끝 -->
		<!-- <div class="jumbotron"> -->
		<div>
<!-- 		<h7 >Hello, world!</h7><br>
		<h7 >Hello, world!</h7><br>
		<h7 >Hello, world!</h7><br> -->
		<img src="img/sample.jpg" alt=" " style="width: 100%;"/>
		<!-- <hr class="my-4"> -->
	</div>
    <div class="container">
    <!--  -->
    <!-- 탑 베너 영역 -->

    
    <!--  -->
    
    <!-- 메인영역 1 시작-->	
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7">
            <h6 style="text-align: left;margin-top: 35px;">주목할 만한 프로젝트</h6>
          </div>
        </div>
      </div>
      <!-- 컨텐츠 시작 -->
      <div class="row">
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들&rang;
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>

			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
		</div>
      
      	<hr>
      <!-- 테스트 끝 -->

<!-- 메인영역 1 시작-->	
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h5>주목할 만한 프로젝트</h5>
            <p class="lead">The medium is the message</p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p class="lead">더보기</p>
          </div>
        </div>
      </div>
      <!-- 컨텐츠 시작 -->
      <div class="row">
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>

			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>		
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
			<div class="col-lg-4 col-sm-6" style="width: 100%;margin-bottom: 30px;">
				<a href="#"><img src="img/sampleImg.jpeg" alt=" " style="width: 100%; border-radius: 0.2em"/></a>
				웹저널<br>
				키트형 뉴스레터 &lang;굿-워커, 일잘러의 길을 걷는 사람들
				<p style="color: red">286% 달성</p>
			</div>
		</div>
      
      	<hr>

      <footer id="footer">
        <div class="row">
          <div class="col-lg-12 col-sm-6">
            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
              <li><a href="https://blog.bootswatch.com/">Blog</a></li>
              <li><a href="https://blog.bootswatch.com/rss/">RSS</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch">GitHub</a></li>
              <li><a href="../help/#api">API</a></li>
              <li><a href="../help/#donate">Donate</a></li>
            </ul>
            <p>Made by <a href="https://thomaspark.co/">Thomas Park</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

          </div>
        </div>
      </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
