<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>오시는 길</title>
     <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
     <div class="container" style="margin: 0 auto;">
          <div>
               <h3>찾아오시는 길</h3>
               <hr>
          </div>  
          <br>

          <div style="width:100%; text-align: center;">
               <div>
                    <a href="https://map.kakao.com/?urlX=524105&urlY=1114521&urlLevel=3&map_type=TYPE_MAP&map_hybrid=false"
                         target="_blank">
                         <img width="100%" height="500px"
                              src="https://map2.daum.net/map/mapservice?FORMAT=PNG&SCALE=2.5&MX=524105&MY=1114521&S=0&IW=504&IH=310&LANG=0&COORDSTM=WCONGNAMUL"
                              style="border:1px solid #ccc">
                    </a>
               </div>
               <div style="border:1px solid #dfdfdf;border-color:rgba(0,0,0,.1); background-color:#f9f9f9;">
                    <span>
                         <img src="//t1.daumcdn.net/localimg/localimages/07/2018/pc/common/logo_kakaomap.png"
                              width="15%" alt="카카오맵">
                    </span>
                    <span style="float: right;position:relative">
                         <a target="_blank"
                              href="https://map.kakao.com/?urlX=524105&urlY=1114521&urlLevel=3&map_type=TYPE_MAP&map_hybrid=false">
                              지도 크게 보기
                         </a>
                    </span>
               </div>
          </div>
          <br>

          <div style="text-align: center;">
               <p><mark>주소 : 서울 송파구 올림픽로 300 (우)05551</mark></p>
               <p><mark>운영시간 : 월 ~ 금 09:00 ~ 18:00 (12:00 ~ 13:00 점심시간)</mark></p>
          </div>
     </div>
</body>

</html>